wsdl/events.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://schemas.novell.com/2005/01/GroupWise/events" xmlns:types="http://schemas.novell.com/2005/01/GroupWise/types" xmlns:tns="http://schemas.novell.com/2005/01/GroupWise/events" elementFormDefault="qualified" targetNamespace="http://schemas.novell.com/2005/01/GroupWise/events" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="types.xsd" namespace="http://schemas.novell.com/2005/01/GroupWise/types" />
  <xs:element name="key" type="xs:string" />
  <xs:element name="event" type="tns:EventType" />
  <xs:element name="field" type="xs:string" />
  <xs:complexType name="ContainerList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="container" type="types:uid" />
    </xs:sequence>
    <xs:attribute default="0" name="not" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element ref="tns:event" />
      <xs:element minOccurs="0" name="id" type="types:uid" />
      <xs:element minOccurs="0" name="sid" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="timeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" ref="tns:field" />
      <xs:element minOccurs="0" name="container" type="types:uid" />
      <xs:element minOccurs="0" name="from" type="types:uid" />
      <xs:element minOccurs="0" name="key" type="xs:string" />
      <xs:element minOccurs="0" name="uid" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="type" type="tns:ItemType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EventDefinition">
    <xs:sequence>
      <xs:element name="events" type="tns:EventTypeList" />
      <xs:element minOccurs="0" name="type" type="xs:string" />
      <xs:element minOccurs="0" ref="tns:field" />
      <xs:element minOccurs="0" name="containers" type="tns:ContainerList" />
      <xs:element minOccurs="0" name="subType" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EventList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="event" type="tns:Event" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Events">
    <xs:sequence>
      <xs:element ref="tns:key" />
      <xs:element minOccurs="0" name="persistence" type="xs:duration" />
      <xs:element minOccurs="0" name="ipAddress" type="xs:string" />
      <xs:element minOccurs="0" name="port" type="xs:int" />
      <xs:element minOccurs="0" default="0" name="http" type="xs:boolean" />
      <xs:element minOccurs="0" name="ignoreAfter" type="xs:duration" />
      <xs:element minOccurs="0" name="definition" type="tns:EventDefinition" />
    </xs:sequence>
    <xs:attribute default="0" name="enabled" type="xs:boolean" />
  </xs:complexType>
  <xs:complexType name="EventsList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="event" type="tns:Events" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AddressBookAdd" />
      <xs:enumeration value="AddressBookDelete" />
      <xs:enumeration value="AddressBookModify" />
      <xs:enumeration value="AddressBookItemAdd" />
      <xs:enumeration value="AddressBookItemDelete" />
      <xs:enumeration value="AddressBookItemModify" />
      <xs:enumeration value="FolderAccept" />
      <xs:enumeration value="FolderAdd" />
      <xs:enumeration value="FolderDelete" />
      <xs:enumeration value="FolderItemAdd" />
      <xs:enumeration value="FolderItemDelete" />
      <xs:enumeration value="FolderItemMove" />
      <xs:enumeration value="FolderModify" />
      <xs:enumeration value="ItemAccept" />
      <xs:enumeration value="ItemArchive" />
      <xs:enumeration value="ItemComplete" />
      <xs:enumeration value="ItemDecline" />
      <xs:enumeration value="ItemDelete" />
      <xs:enumeration value="ItemMarkPrivate" />
      <xs:enumeration value="ItemMarkRead" />
      <xs:enumeration value="ItemMarkUnread" />
      <xs:enumeration value="ItemModify" />
      <xs:enumeration value="ItemPurge" />
      <xs:enumeration value="ItemUnarchive" />
      <xs:enumeration value="ItemUndelete" />
      <xs:enumeration value="Login" />
      <xs:enumeration value="Logout" />
      <xs:enumeration value="ProxyAccessAdd" />
      <xs:enumeration value="ProxyAccessModify" />
      <xs:enumeration value="ProxyAccessDelete" />
      <xs:enumeration value="ProxyLogin" />
      <xs:enumeration value="SessionTimedOut" />
      <xs:enumeration value="TrustedApplicationLogin" />
      <xs:enumeration value="ItemMarkUnprivate" />
      <xs:enumeration value="ItemUnaccept" />
      <xs:enumeration value="ItemUncomplete" />
      <xs:enumeration value="PersonalGroupItemAdd" />
      <xs:enumeration value="PersonalGroupItemDelete" />
      <xs:enumeration value="UserMoveComplete" />
      <xs:enumeration value="RuleAdd" />
      <xs:enumeration value="RuleDelete" />
      <xs:enumeration value="RuleModify" />
      <xs:enumeration value="RuleExecute" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="EventTypeList">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="36" name="event" type="tns:EventType" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Field">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AcceptLevel" />
      <xs:enumeration value="Alarm" />
      <xs:enumeration value="AllDayEvent" />
      <xs:enumeration value="Attachment" />
      <xs:enumeration value="Category" />
      <xs:enumeration value="Checklist" />
      <xs:enumeration value="Classification" />
      <xs:enumeration value="Contact" />
      <xs:enumeration value="DueDate" />
      <xs:enumeration value="Duration" />
      <xs:enumeration value="EmailAddress" />
      <xs:enumeration value="ExpirationDate" />
      <xs:enumeration value="Hidden" />
      <xs:enumeration value="IMAddress" />
      <xs:enumeration value="MessageBody" />
      <xs:enumeration value="Name" />
      <xs:enumeration value="Organization" />
      <xs:enumeration value="Owner" />
      <xs:enumeration value="Parent" />
      <xs:enumeration value="PersonalSubject" />
      <xs:enumeration value="PhoneNumber" />
      <xs:enumeration value="Picture" />
      <xs:enumeration value="Place" />
      <xs:enumeration value="PostalAddress" />
      <xs:enumeration value="RecipientStatus" />
      <xs:enumeration value="Rights" />
      <xs:enumeration value="Security" />
      <xs:enumeration value="SendPriority" />
      <xs:enumeration value="StartDate" />
      <xs:enumeration value="Subject" />
      <xs:enumeration value="TaskCategory" />
      <xs:enumeration value="TaskPriority" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ItemType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AddressBookItem" />
      <xs:enumeration value="Appointment" />
      <xs:enumeration value="CalendarItem" />
      <xs:enumeration value="Contact" />
      <xs:enumeration value="Group" />
      <xs:enumeration value="Mail" />
      <xs:enumeration value="Note" />
      <xs:enumeration value="Organization" />
      <xs:enumeration value="PhoneMessage" />
      <xs:enumeration value="Resource" />
      <xs:enumeration value="Task" />
      <xs:enumeration value="DocumentRef" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Notify">
    <xs:sequence>
      <xs:element minOccurs="1" name="userid" type="xs:string" />
      <xs:element minOccurs="1" ref="tns:key" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cleanEventConfigurationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element default="0" name="all" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cleanEventConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="status" type="types:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="configureEventsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="events" type="tns:Events" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="configureEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="status" type="types:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventConfigurationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="events" type="tns:EventsList" />
        <xs:element name="status" type="types:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:key" />
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="until" type="xs:dateTime" />
        <xs:element minOccurs="0" name="uid" type="xs:unsignedInt" />
        <xs:element default="-1" name="count" type="xs:int" />
        <xs:element default="0" name="remove" type="xs:boolean" />
        <xs:element default="0" name="notify" type="xs:boolean" />
        <xs:element minOccurs="0" name="view" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="events" type="tns:EventList" />
        <xs:element name="status" type="types:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeEventConfigurationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:key" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeEventConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="status" type="types:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeEventsByTypeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:key" />
        <xs:element ref="tns:event" />
        <xs:element minOccurs="0" name="type" type="tns:ItemType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeEventsByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="status" type="types:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeEventsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:key" />
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="until" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="status" type="types:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>